@model quan_li_thuoc.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<div style="position:relative;left:10px;top:0px;">
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-info mt-3">@ViewBag.Message</div>
    }
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-lg border-0">
                <div class="card-body p-3 m-auto">

                    <h3 class="text-center mb-4">Quên mật khẩu</h3>



                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                    {
                        <div class="form-group mb-3">
                            @*<label>Nhập địa chỉ Email của bạn</label>
        <input type="email" name="email" class="form-control" required placeholder="Email đăng ký" />*@

                            @Html.LabelFor(m => m.email)
                            @Html.TextBoxFor(m => m.email, new { @class = "form-control", placeholder = "Nhập email đăng ký" })
                            @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Gửi liên kết đặt lại mật khẩu</button>
                    }


                  

                </div>
            </div>
        </div>
    </div>
</div>
